.place__paragraphs {
  grid-row: 2/3;
  grid-column: 2/3;
  row-gap: 26px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .place__paragraphs {
    grid-row: 4/5;
    grid-column: span 1;
    min-width: 288px;
    margin: 0 16px;
    row-gap: 25px;
  }
}